<div class="referral-code-container">
    <div class="title">Your Referral Code</div>
    <div class="referral-code"> 
        <%= locals.user.referralCode %> 
    </div>
    <div class="social">
        <span>Share it On:</span>
        <ul class="horizontal center social-icons">
            <li> <a href="https://www.linkedin.com/in/manjarijain/" target="_blank"> <i class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="mailto:manjarijain98@gmail.com" target="_blank"> <i class="fab fa-google-plus-g"></i></a></li>
            <li> <a href="https://www.facebook.com/Jain.Manjari?ref=bookmarksk" target="-_blank"> <i class="fab fa-facebook-f"></i></a></li>
            <li> <a href="https://www.quora.com/profile/Manjari-Jain-4" target="-_blank"> <i class="fab fa-quora"></i></a></li>
            <li> <a href="https://github.com/JainManjari" target="-_blank"> <i class="fab fa-github"></i></a></li>
            
        </ul>
    </div>
</div>

<div class="change-code">
    <a href="/employees/edit-code">Edit Referral Code</a>
</div>


<% if(referees.length>0) {%>
    <div class="refers-list">
        <div class="title">Your Latest Referrals:</div>
        <% for(let referee of referees) {%>
            <li class="referee">
                <div class="info">
                    <div>
                        <%= referee.firstName %>
                        <%= referee.lastName %>
                    </div>
                    <div>
                        <a href="mailto:<%=referee.email%>" target="_blank"><%= referee.email %></a>
                    </div>
                </div>
                <div class="rewards">
                    &#8377 100 Grofers Cashback
                </div>
            </li>
        <% } %> 
        <div class="total-reward">
              <div class="reward-title">Total <img src="https://img.icons8.com/plasticine/50/000000/money.png"/> </div>
              <div class="reward-money"><%= totalReward %></div>
        </div>
    </div>
<% } %>


<div class="delete-emp-acct">
    <a href="/employees/delete-account">Remove Account?</a>
</div>