<% if(!locals.user) {%>
    <h1 class="welcome-heading">Welcome to the Grofers Referral Portal</h1>
<% } else { %>
    <h1 class="welcome-heading">Welcome to the Grofers Referral Portal, <%= locals.user.firstName%> <span>:)</span>!</h1>
<% } %>

<% if(!locals.user) {%>
    <% if(title=="Referral") {%>
        <%- include("_homeview"); %>
    <% } else if(title=="Referral | Employee SignUp") {%>
        <%- include("_signUpEmp"); %>
    <% } else if(title=="Referral | Referee SignUp") {%>
        <%- include("_signUpJob"); %>
    <% } %>
<% } else { %>
    <%- include("_userSession"); %>
<% } %>

<script type="text/javascript" src="/js/homeview.js"></script>