<head>
    <style>
        img{
            width: 28px;
            height: 23px;
        }
        #sign-p > span{
            
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }
        #sign-p >span span{
            margin-top: 4px;
        }


    </style>
</head>
<div>
    <p>
        Hi <%= user.referee.firstName %>,
    </p>
    <br> 
    <p>Welcome to the Grofers Referral Family, We hope that you will find this journey enchanting!</p>
    <p id="login-p"><br>
                Here are your login credentials:
                <br>
                <span style="margin-top: 10px;margin-left: 60px;">
                    Email: <strong><%= user.referee.email %></strong>
                </span>
                <br>
                <span style="margin-left: 60px;">
                    Password: <strong> <%= user.referee.password %></strong>
                </span>
                <br>
                <span style="margin-left: 60px;">
                    ReferralCode: <strong> <%= user.referee.referralCode %></strong>
                </span>
                <br>
                <br>
                <span><strong>Don't share your password with anyone for security purposes.</strong></span>
               
    </p>
    <br>
    <p>
        You are being successfully referred by <%= user.refer.firstName %> <%= user.refer.lastName%>.
        All the best for the hiring process!
    </p>
    <br>
    <p id="sign-p">With best regards,<br>
        <span> <span>Grofers Referral Team</span> <img src="https://avatars.githubusercontent.com/u/8791674?s=280&v=4"></span>
     </p>
</div>